* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#template-ievf {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.grid {
    display: grid;
    padding: 10px;
    height: 95%;
    width: 100%;
}

.grid-cell {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 5px;
}

.template-ievf-div0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
}

.template-ievf-div1 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 6;
}

.template-ievf-div2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}

.template-ievf-div3 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 6;
}

.template-ievf-div4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
}

.template-ievf-div5 {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 5;
}

#template-idleh {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#template-i7cy1 {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#template-ib3d5 {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}